/*
 * @Author: czy0729
 * @Date: 2019-02-28 05:50:27
 * @Last Modified by: czy0729
 * @Last Modified time: 2019-03-08 22:37:47
 */
@import '@styles/theme.scss';

.subject-head {
  padding: 40px $wind;

  &__thumb {
    border: 2px solid rgba(255, 255, 255, 0.8);
    border-radius: 12px;
    overflow: hidden;
  }
}
