@import '@styles/theme.scss';

.c-app-character {
  &__item {
    width: 152px;
    margin-top: 24px;
    margin-right: 24px;

    &-image {
      border: 2px solid $color-border;
      border-radius: 8px;
      box-shadow: $box-shadow-img;
    }
    &-desc {
      @include lamp-clamp(2);
    }
    &-sub {
      @include lamp-clamp(1);
    }
  }
}
