@import '@styles/theme.scss';

.home-item {
  margin-bottom: 24px;
  border-radius: 8px;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.16);
  overflow: hidden;

  &__thumb {
    border-radius: 8px;
  }
  &__btn {
    padding-right: 32px;
  }
}
