/*
 * @Author: czy0729
 * @Date: 2019-03-03 00:23:03
 * @Last Modified by: czy0729
 * @Last Modified time: 2019-03-04 02:17:26
 */
@import '@styles/theme';

.c-app-eps {
  &__btn {
    margin-right: 24px;
    margin-bottom: 24px;

    &--side {
      margin-right: 0;
    }
  }
  &__sp {
    width: 64px;
    height: 64px;
    margin-right: 24px;
    margin-bottom: 24px;
    @include border(left, 4px, solid, $color-sub);
  }
}
