@import '@styles/theme';

.c-app-eps {
  &__btn {
    margin-right: 24px;
    margin-bottom: 24px;

    &--side {
      margin-right: 0;
    }
  }
  &__sp {
    width: 64px;
    height: 64px;
    margin-right: 24px;
    margin-bottom: 24px;
    @include border(left, 4px, solid, $color-sub);
  }
}
