// margin-top
.mt-xs {
  margin-top: 8px;
}
.mt-xsm {
  margin-top: 16px;
}
.mt-sm {
  margin-top: 24px;
}
.mt-md {
  margin-top: 32px;
}

// margin-left
.ml-xs {
  margin-left: 8px;
}
.ml-sm {
  margin-left: 24px;
}

// text
.t-c {
  text-align: center;
}
