.c-layout {
  &__popover {
    position: absolute;
    z-index: 999;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    &-content {
      position: absolute;
      z-index: 1000;
      border-radius: 8px;

      &--left-bottom {
        box-shadow: 24px 64px 120px rgba(0, 0, 0, 0.24);
      }
      &--right-bottom {
        box-shadow: -24px 64px 120px rgba(0, 0, 0, 0.24);
      }
      &--left-top {
        box-shadow: 24px -64px 120px rgba(0, 0, 0, 0.24);
      }
      &--right-top {
        box-shadow: -24px -64px 120px rgba(0, 0, 0, 0.24);
      }
    }
  }
}
