@import '@styles/theme.scss';

.search-item {
  width: 208px;
  margin-right: 24px;
  margin-bottom: 24px;

  &__thumb {
    border-radius: 8px;
    box-shadow: $box-shadow-img;
  }
  &__name {
    margin-top: 16px;
    @include font-size(13px);
    color: $color-desc;
    @include lamp-clamp(2);
  }
}
