/*
 * @Author: czy0729
 * @Date: 2019-03-02 22:39:34
 * @Last Modified by: czy0729
 * @Last Modified time: 2019-03-02 22:57:29
 */
@import '@styles/theme';

.c-app-score-tag {
  padding: 8px;
  background: $color-main;
  border-radius: 8px;
}
